<div class="IM well">
    <div id="gethistory">
        <span>历史记录</span>
    </div>
    <div id="<%= chatid%>div" class="text-box">
        
    </div>
    <hr>
    <div class="send-box">
        <div class="span11 row">
            <textarea name="sendText" id="send-text" class="span12" cols="30" rows="7"></textarea>
        </div>
    </div>
    <div class="send-btn row">
        <button class="btn btn-primary span4">Send</button>
    </div>
</div>