<div class="span4 offset4">
    <h2>确定要退出吗？</h2>
    <hr>
    <div class="row quit-btn">
        <button class="span6 btn btn-primary sure">确定</button>
        <button class="span6 btn btn-danger cancel">取消</button>
    </div>
</div>