<div class="side">
    <div class="pic">
        <img src="/images/pic/<%= chatpic%>" alt="头像">
    </div>
    <div class="user-msg">
        <div><%= chatname%>&nbsp;&nbsp;&nbsp;&nbsp;<%= chatsex%></div>
        <span>ID：</span>
        <div class="chatuser-id"><%= chatid%></div>
    </div>
</div>

<div class="apply">
    <h3>好友申请</h3>
</div>